.client-section {
  padding: 40px 0;
  /* background-image: linear-gradient(to top, #a6c1ee 0%, #003366 100%); */



}

.scroll-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 20px 0;
}

.scroll-track {
  display: flex;
  width: max-content;
  animation: scroll-left 27s linear infinite alternate;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-card {
  margin: 0 20px;
  flex-shrink: 0;
  width: 140px;
  height: 120px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.scroll-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.scroll-card img {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  border-radius: 8px;
}

.scroll-card:hover img {
  filter: grayscale(0%);
}

.client-heading {
  color: #00A551;
  font-weight: bold;
  font-size: 2rem;
}

.client-subtext {
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 1.125rem;
}